{% extends 'base.html.twig' %}

{% block title %}Process Payment{% endblock %}

{% block body %}
    <h1>Process Payment</h1>

    {{ form_start(checkoutForm) }}
        <div class="row">
            <div class="col-md-6">
                <h3>Payment Information</h3>
                <div class="mb-3">
                    {{ form_label(checkoutForm.amount) }}
                    {{ form_widget(checkoutForm.amount, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(checkoutForm.amount) }}
                </div>
                <div class="mb-3">
                    {{ form_label(checkoutForm.currency) }}
                    {{ form_widget(checkoutForm.currency, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(checkoutForm.currency) }}
                </div>
            </div>
            
            <div class="col-md-6">
                <h3>Billing Information</h3>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_label(checkoutForm.billingFirstName) }}
                        {{ form_widget(checkoutForm.billingFirstName, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(checkoutForm.billingFirstName) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(checkoutForm.billingLastName) }}
                        {{ form_widget(checkoutForm.billingLastName, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(checkoutForm.billingLastName) }}
                    </div>
                </div>
                
                <div class="mb-3">
                    {{ form_label(checkoutForm.billingAddress1) }}
                    {{ form_widget(checkoutForm.billingAddress1, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(checkoutForm.billingAddress1) }}
                </div>
                
                <div class="mb-3">
                    {{ form_label(checkoutForm.billingAddress2) }}
                    {{ form_widget(checkoutForm.billingAddress2, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(checkoutForm.billingAddress2) }}
                </div>
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_label(checkoutForm.billingCity) }}
                        {{ form_widget(checkoutForm.billingCity, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(checkoutForm.billingCity) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(checkoutForm.billingState) }}
                        {{ form_widget(checkoutForm.billingState, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(checkoutForm.billingState) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_label(checkoutForm.billingPostal) }}
                        {{ form_widget(checkoutForm.billingPostal, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(checkoutForm.billingPostal) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(checkoutForm.billingCountry) }}
                        {{ form_widget(checkoutForm.billingCountry, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(checkoutForm.billingCountry) }}
                    </div>
                </div>
                
                <div class="mb-3">
                    {{ form_label(checkoutForm.billingEmail) }}
                    {{ form_widget(checkoutForm.billingEmail, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(checkoutForm.billingEmail) }}
                </div>
                
                <div class="mb-3">
                    {{ form_label(checkoutForm.billingPhone) }}
                    {{ form_widget(checkoutForm.billingPhone, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(checkoutForm.billingPhone) }}
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4">
            {{ form_widget(checkoutForm.submitPayment) }}
        </div>
    {{ form_end(checkoutForm) }}
{% endblock %}
